<h1 class="display-4">About Me...</h1>
<br/>

<div class="card card text-white bg-dark mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <%= image_tag 'me.png', class:'img-fluid' %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3>My name is Will Daskam and I am an Information Technology graduate with experience working with Ruby, Rails, Java, JavaScript, HTML, CSS, and Microsoft office as well as a number of Information Technology related coursework and projects.</h3>
        <br/> 
        <h3>My goal is to continue to improve as a web developer by building new interesting and interactive websites such as this one.</h3>
      </div>
    </div>
  </div>
</div>